@import "tailwindcss";

body {
  background: #000000;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

.Blur {
  filter: blur(8px)
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.ModalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left:0; 
  top:0;
  margin: 0;
  padding: 0;
  z-index: 8;
  background-color: #1e1e1e99;
}
.Modal {
  padding: 1.5em;
  background: linear-gradient(145deg, #1e1e1e, #000000);
  border-radius: .5em;
  overflow: hidden;
  border: 2px solid #333;
  width: 40em;
  max-width: 90vw;
  max-height: 80vh;
}

.ModalFooter {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

button {
  display: flex;
  padding: .5em;
  gap: .5em;
  border-radius: .5em;
  background: black;
  border: 2px solid #333;
  cursor: pointer;
  float: right;
  align-items: center;
}


.HoverButtonRed {
  background: linear-gradient(#77312e 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.HoverButtonRed:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}
.HoverButtonGreen {
  background: linear-gradient(#2e7758 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.HoverButtonGreen:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}


.ModalTitle { 
  font-size: 1.5em;
}
.ModalSubtitle { 
  font-size: 1em;
  color: #aaa;
}

option {
  border: 2px solid #000;
  background: #333;
  padding: 10px;
  transition: 0.4s;
}

option:hover,
option:focus {
  background: #dddddd;
}
