.Tracklist {
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: visible;
}

.Track {
  width: 100%;
  padding: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  background: linear-gradient(145deg, #1e1e1e, #000000);
  border-radius: 0.5em;
  overflow: hidden;
  border: 2px solid #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
