.TinyAlbum {
  display: flex;
  gap: .5em;
  border-bottom: 1px solid grey;
  padding: .3em;


  > div {
    min-width: 0; /* needed so ellipsis can work in flex */
  }

  .AlbumArtwork {
    width: 3em;
    height: 3em;
  }

  .AlbumTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .AlbumArtist {
    color: grey;
  }

  > button {
    margin-left: auto;
  }
}

.DownloadedIcon {
  color: #4ade80;
  font-size: 14px;
}

